h1 {
    border: 2px solid black;
    width: 50%;
}

#outer {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: pink;
    font-size: 10px;
}

#inner {
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    font-size: 3em;
    padding: 1em;
}

button {
    font-size: 50px;
    border-radius: 12px;
    border: 4px solid green;
    padding-left: 1em;
    padding-right: 1em;
}
/* font size of the given parent, in the case of text related properties like font-size, and font size of the element itslef, in the case of other properties like width */
section {
    font-size: 15px;
}
/* We use rem as the font size of the root element */
div {
    font-size: 2rem;
}