section {
    margin-top: 100px;
}

div {
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 60px auto;
    margin-top: 10px;
}

div:nth-of-type(2n) {
    background-color: #f7db6a;
}

div:nth-of-type(3n) {
    background-color: #ebb03d;
}

/* transform */

#one {
    transform: rotate(45deg)
}

/* This #two ID, We perform the transform: scale(0.2) property and we can also change the X and Y cordinates like example; transform: scale(0.5 2); like this we can change the ccordinats of X and Y via transform: scale */
#two {
    transform: scale(0.5);
}

/* This translate property moves along 2D planes  */
#three {
    transform: translate(100px);
}

/* The Skew property tilts the element */
#four {
    transform: skew(30deg)
}

/* Here we used the rotate and translate property at the same time */
#five {
    transform: rotate(30deg) translateX(120px);
}